/* --------------------------------------------------
    Game
-------------------------------------------------- */
.game{
    text-align: center;
}
.title {
    margin: 10px 0px;
}
/* --------------------------------------------------
    Board
-------------------------------------------------- */
.board-wrapper {
    display: flex;
    justify-content: center;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 80px;
    width: 240px;
    height: 240px;
    border: 2px solid black;
}
/* --------------------------------------------------
    Square
-------------------------------------------------- */
.square{
    background: white;
    border: 1px solid #999;
    font-size: 36px;
    font-weight: bold;
}
.square:focus{
    background: #ddd;
    outline: none;
}
.winner{
    color: red;
}
/* --------------------------------------------------
    Step Info
-------------------------------------------------- */
.step-info {
    margin-top: 10px;
    width: 240px;
}
.step-info h3 {
    margin-top: 10px;
    margin-bottom: 0;
}
.step-info p {
    margin-top: 0;
    margin-bottom: 10px;
}
.step-info li{
    list-style: none;
    margin-top: 2px;
}